.card__container {
    background:#FFFFFF ;
}
.card {
    display:flex;
    gap:1rem;
    margin-top:1rem;
    padding:1rem;
    cursor:pointer;
}
.card__click {
    background: hsl(210, 60%, 98%);
}
.img {
    max-width:40px;
}
.name {
    font-weight: bolder;
    font-size:.9rem
}
.description {
    font-size:.85rem;
    line-height: 1.3;
    font-weight: 500;
    max-width:230px;
}
.time {
    font-size:.85rem;
    margin-top:.2rem;
    opacity:0.4;
    font-weight: 700;
}
.chess_club {
    font-size:.9rem;
    font-weight: 700;
    color: hsl(219, 85%, 26%);
}
.b_ {
    opacity:0.6;
    font-weight:600;
}
.goal__message {
    padding:1rem;
    margin-top:.5rem;
    border:1px solid hsl(205, 33%, 90%);
    font-size:.9rem;
    font-weight: 500;
    color:gray;
}
.img__comment {
    width:40px;
    align-self: flex-start;
}
.new__notify {
    width:7px;
    height:7px;
    background:red;
    border-radius:50%;
    align-self: center;
}
.header {
    gap:.5rem;
    display:flex;
}

@media (min-width:768px) {
    .name {
        font-weight: bolder;
        font-size:1rem
    }
    .description {
        font-size:1rem;
        line-height: 1.3;
        font-weight: 500;
        max-width:600px;
    }
    .time {
        font-size:.85rem;
        margin-top:.2rem;
        opacity:0.4;
        font-weight: 700;
    }
    .chess_club {
        font-size:1rem;
        font-weight: 700;
        color: hsl(219, 85%, 26%);
    }
    .b_ {
        opacity:0.6;
        font-weight:600;
    }
    .goal__message {
        padding:1rem;
        margin-top:.5rem;
        border:1px solid hsl(205, 33%, 90%);
        font-size:1rem;
        font-weight: 500;
        color:gray;
    }
    .card__notification {
        flex-grow:1;
    }
    .new__notify {
        width:10px;
        height:10px;
    }
}